{% load static %}

<footer class="main-footer">
  <div class="footer-wrap">
    <div class="footer-top-svg">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1351 48">
        <path
          d="M0,8s101.773,23.5,357,3C479.634,1.15,645.1.159,789.994,16.234,924.514,31.158,1042.19,12.008,1084,8c156.39-14.994,267,0,267,0V50H0V8Z"
        ></path>
      </svg>
    </div>

    <div class="boxed-service">
      <!-- <div class="col-md-2"> </div> -->
      <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
        <div class="service-item">
          <div class="service-icon">
            <img
              src="{% static 'assets/images/pageProduct/service/price-tag-1.png'%}"
              alt="service"
            />
          </div>

          <div class="service-content">
            <h4>تضمین بهترین قیمت</h4>
          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
        <div class="service-item">
          <div class="service-icon">
            <img
              src="{% static 'assets/images/pageProduct/service/delivery-truck-3.png' %}"
              alt="service"
            />
          </div>
          <div class="service-content">
            <h4>تحویل اکسپرس</h4>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 mb-4">
        <div class="service-item">
          <div class="service-icon">
            <img
              src="{% static 'assets/images/pageProduct/service/gift-2.png'%}"
              alt="service"
            />
          </div>
          <div class="service-content">
            <h4>بسته بندی زیبا</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-gap-default container">
      <div class="col-md-2 col-sm-6 col-xs-6 fr">
        <div class="footer-list">
          <div class="title-list">دسترسی آسـان</div>
          <ul>
            <li class="list-item">
              <a href="#">صفحه اصلی</a>
            </li>
            <li class="list-item">
              <a href="#">فروشگاه</a>
            </li>
            <li class="list-item">
              <a href="#">تماس با ما</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6 fr">
        <div class="footer-list">
          <div class="title-list">دسترسی آسـان</div>
          <ul>
            <li class="list-item">
              <a href="#">صفحه اصلی</a>
            </li>
            <li class="list-item">
              <a href="#">فروشگاه</a>
            </li>
            <li class="list-item">
              <a href="#">تماس با ما</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-6 fr">
        <div class="footer-list">
          <div class="title-list">دسترسی آسـان</div>
          <ul>
            <li class="list-item">
              <a href="#">صفحه اصلی</a>
            </li>
            <li class="list-item">
              <a href="#">فروشگاه</a>
            </li>
            <li class="list-item">
              <a href="#">تماس با ما</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-6 fr">
        <div class="footer-list">
          <div class="contact-us">
            <h5>پل های ارتباطی</h5>
            <ul>
              <li class="contact-item">
                <i class="fal fa-map-marked-alt"></i>
                <span> ایران،زنجان</span>
              </li>
              <li class="contact-item phone">
                <i class="fal fa-phone-volume"></i>
                12345667
                <strong>021</strong>
              </li>
              <li class="contact-item email">
                <i class="fal fa-at"></i>info@vira.com
              </li>
            </ul>
          </div>
          <div class="contact-social">
            <ul>
              <li class="social-item">
                <a href="#"><i class="fab fa-facebook"></i></a>
              </li>
              <li class="social-item">
                <a href="#"><i class="fab fa-fab fa-twitter"></i></a>
              </li>
              <li class="social-item">
                <a href="#"><i class="fab fa-instagram"></i></a>
              </li>
              <li class="social-item">
                <a href="#"><i class="fab fa-telegram"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-6 fr">
        <div class="license">
          <div class="license-images">
            <ul>
              <!-- <li class="license-item">
                                <img src="assets/images/license/L-1.png" alt="license">
                            </li>
                            <li class="license-item">
                                <img src="assets/images/license/L-2.png" alt="license">
                            </li> -->
            </ul>
          </div>
        </div>
      </div>
      <div class="widget-text-editor">
        <div class="col-12">
          <div class="copy-right">
            <p>
                کلیه حقوق مادی و معنوی برای این سایت محفوظ می باشد و هرگونه کپی برداری شامل پیگرد قانونی می باشد.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
