{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ورود</title>
    <!-- fontAwesome -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css'%}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css'%}">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/noUISlider.min.css'%}">
    <!-- mainStyle -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css'%}">
</head>

<body>
    <!-- content -->
    <main class="content mt-3">
        <div class="container">
            <div class="my-account-login">
                <div class="col-lg-4 col-md-5 mx-auto">
                    <div class="account-box">
                        <section class="account-login-logo">
                            <a href="#">
                                <img src="{% static 'assets/images/logo.png'%}" alt="فروشگاه اینترنتی ویرا" class="img-fluid">
                            </a>
                        </section>
                        <ul>
                            <li class="active">
                                <a href="login.html">
                                    <i class="fal fa-user"></i>
                                    ورود
                                </a>
                            </li>
                            <li>
                                <a href="register.html">
                                    <i class="fal fa-sign-in"></i>
                                    عضویت
                                </a>
                            </li>
                        </ul>
                        <div class="title">حساب کاربری</div>
                        <div class="login-wrap">
                            <form action="#">
                                <div class="item-account username">
                                    <input id="email-user" name="email"
                                        placeholder="نام کاربری یا شماره موبایل" required="">
                                </div>
                                <div class="item-account password">
                                    <input id="password-user" name="password" placeholder="گذرواژه"
                                        required="">
                                </div>
                                <div class="action-account">
                                    <button type="submit" class="loginBtn">ورود به حساب کاربری</button>
                                    <a class="lost" href="#">گذرواژه خود را فراموش کرده اید؟</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- content -->
    <!-- scrolltop -->
    <div class="sticky-toolbox">
        <ul>
            <li>
                <a href="#" class="compare-sticky" title="مقایسه">
                    <i class="fal fa-exchange"></i>
                    <span>0</span>
                </a>
            </li>
            <li>
                <a href="#" class="cart-sticky" title="سبد خرید">
                    <i class="fal fa-shopping-bag"></i>
                    <span>3</span>
                </a>
            </li>
            <li>
                <a href="#" class="scroll-sticky" title="رفتن به بالا">
                    <i class="fal fa-arrow-up"></i>
                </a>
            </li>
        </ul>
    </div>
</body>
<!-- JS Global Compulsory -->
<script src="{% static 'assets/js/plugins/jquery-3.6.0.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/popper.min.js'%}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<!-- JS Implementing Plugins -->
<script src="{% static 'assets/js/plugins/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/swiper-bundle.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/countdown.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/theia-sticky-sidebar.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/nouislider.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/wNumb.js'%}"></script>
<!-- JS Template -->
<script src="{% static 'assets/js/main.js'%}"></script>

</html>