{% extends "base.html" %}

{% load static %}
{% block content %}
<body>
    <!-- content -->
    <main class="content">
        <div class="about-us">
            <div class="container">
                <div class="row">
                    <div class="about-us-head">
                        <div class="about-us-head-content">
                            <div class="about-us-head-title-logo">
                                <span>ایکس</span>
                            </div>
                            <h1 class="about-us-head-title">بهترین سایت خرید این سایته</h1>
                            <p class="about-us-head-text">
                                خیلی خوبه حتما بخر عالیه من پیشنهاد میکنم دیگه مغزم نمیشه اینجا باید چی بنویسم
                            </p>
                        </div>
                    </div>
                </div>
                <div class="about-us-content">
                    <div class="about-us-description-section">
                        <h2 class="about-us-description-title">حرفی برای گفتن در تجارت الکترونیک</h2>
                        {% comment %} <p class="about-us-description-text">
                            در سال ۱۳۸۵ با سرمایه اندکی شروع کردیم و حالا این عددها، سهم بزرگ ما از بازار تجارت
                            الکترونیک را
                            نشان می‌دهد.
                        </p> {% endcomment %}
                        <div class="about-us-desc-cards-container">
                            <div class="about-us-desc-card">
                                <p class="about-us-desc-card-number">۱۵۰،۰۰۰+</p>
                                <p class="about-us-desc-card-text">کسب‌و‌کار و فروشنده</p>
                                </a>
                            </div>
                            <div class="about-us-desc-card">
                                <p class="about-us-desc-card-number">۱۵۰،۰۰۰+</p>
                                <p class="about-us-desc-card-text">کسب‌و‌کار و فروشنده</p>
                                </a>
                            </div>
                            <div class="about-us-desc-card">
                                <p class="about-us-desc-card-number">۱۵۰،۰۰۰+</p>
                                <p class="about-us-desc-card-text">کسب‌و‌کار و فروشنده</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-content-about">
                    <div class="page-content-about-paragraph">
                        <p>
                             لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                        </p>
                    </div>
                    <div class="page-content-about-paragraph">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در
                            شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                            شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
                            ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط
                            سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته
                            اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                    <div class="page-content-about-full-image">
                        <img src="{% static 'assets/images/sliderM/sliderM2.jpg' %}">
                    </div>
                    <div class="page-content-about-paragraph">
                        <p>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در
                            شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                            شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
                            ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط
                            سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته
                            اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            <br>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در
                            شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                            شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
                            ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط
                            سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته
                            اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                            <br>
                            <br>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در
                            شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
                            شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی
                            ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط
                            سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته
                            اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- content -->
</body>
{% endblock %}
<!-- JS Implementing Plugins -->
<script src="{% static 'assets/js/plugins/jquery.nice-select.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/countdown.min.js'%}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/theia-sticky-sidebar.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/nouislider.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/wNumb.js' %}"></script>
<script src="{% static 'assets/js/plugins/lightzoom.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/bootstrap-slider.min.js' %}"></script>
