{% load static %}

<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>سایت ایکس</title>
    <!-- fontAwesome -->
    <link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/swiper-bundle.min.css' %}">
    <!-- mainStyle -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
</head>

<body>
    <!-- header -->
    {% include 'partials/_header.html' %}

    {% block content %}
    {% endblock content %}

    <!-- footer -->
    {% include 'partials/_footer.html' %}

    <!-- scrolltop -->
    <div class="sticky-toolbox">
        <ul>
            <li>
                <a href="#" class="compare-sticky" title="مقایسه">
                    <i class="fal fa-exchange"></i>
                    <span>0</span>
                </a>
            </li>
            <li>
                <a href="#" class="cart-sticky" title="سبد خرید">
                    <i class="fal fa-shopping-bag"></i>
                    <span>0</span>
                </a>
            </li>
            <li>
                <a href="#" class="scroll-sticky" title="رفتن به بالا">
                    <i class="fal fa-arrow-up"></i>
                </a>
            </li>
        </ul>
    </div>
    
</body>
<!-- JS Global Compulsory -->
<script src="{% static 'assets/js/plugins/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/popper.min.js' %}"></script>
<!-- JS Implementing Plugins -->
<script src="{% static 'assets/js/plugins/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/countdown.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
<!-- JS Template -->
<script src="{% static 'assets/js/main.js'%}"></script>

</html>